.footer {
  line-height: 20px;
  text-align: center;
  background: transparent;
  min-height: 56px;
  color: #CCCCCC;
  font-size: 14px;
}

.logo {
  font-weight: bold;
  font-size: 16px;
}

.copyright {
  font-size: 12px;
}
