.nav-Wrap {

  .next-icestark-nav.next-icestark-primary.next-icestark-hoz .next-icestark-menu-header,
  .next-icestark-nav.next-icestark-primary.next-icestark-hoz .next-icestark-menu-footer,
  .next-icestark-nav.next-icestark-primary.next-icestark-hoz .next-icestark-menu-item-inner {
    line-height: 50px;
  }
}
